.u-section-1 .u-sheet-1 {
  min-height: 786px;
}

.u-section-1 .u-shape-1 {
  height: 322px;
  margin-top: 441px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-text-1 {
  margin: -636px 0 0;
}

.u-section-1 .u-image-1 {
  width: 350px;
  height: 466px;
  margin: -57px auto 0 15px;
}

.u-section-1 .u-image-2 {
  width: 351px;
  height: 614px;
  margin: -466px 15px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  width: 408px;
  margin: -542px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-top: 415px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -610px;
    margin-right: 42px;
    margin-left: 92px;
  }

  .u-section-1 .u-image-1 {
    height: 467px;
    margin-left: 115px;
  }

  .u-section-1 .u-image-2 {
    width: 570px;
    margin-top: -467px;
    margin-right: -96px;
  }

  .u-section-1 .u-text-2 {
    width: 435px;
    margin-left: 353px;
    margin-right: 353px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 892px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 547px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -742px;
    margin-right: 152px;
    margin-left: 202px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 225px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2130px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 1785px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -1980px;
    margin-right: 242px;
    margin-left: 292px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 315px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 104px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1604px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 1259px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -1454px;
    margin-right: 342px;
    margin-left: 392px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 454px;
    margin-left: 400px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 421px;
    margin-top: -454px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: -523px;
    margin-left: 400px;
    margin-right: 400px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 666px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 60px 69px 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  width: 864px;
  margin: 20px auto 0;
}

.u-section-2 .u-accordion-1 {
  width: 1140px;
  margin: 30px 0 60px;
}

.u-section-2 .u-accordion-link-1 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-1 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px 61px;
}

.u-section-2 .u-accordion-link-2 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-2 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-accordion-link-3 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-3 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-accordion-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-accordion-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-accordion-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-accordion-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 672px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  width: 624px;
  margin: 17px auto 0;
}

.u-section-3 .u-form-1 {
  height: 176px;
  width: 624px;
  margin: 46px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  margin-right: auto;
  margin-left: auto;
  display: block;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 9px 0 11px;
}

.u-section-3 .u-list-1 {
  width: 624px;
  margin: 38px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 143px;
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    width: 100%;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 144px;
    grid-gap: 0px 0px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-form-1 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 297px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 904px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-form-1 {
    height: 287px;
    margin-top: 31px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-list-1 {
    margin-top: 47px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 317px;
  }
}